.stad {
  perspective: 500px;
}
.containerr {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-image: url(../images/card.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stadDiv {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  background-image: url(../images/stadium_background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateX(12deg);
  perspective: 500px;
  gap: 20px;
}

.plan-2-1 {
  grid-column: 6/9;
  grid-row: 10/14;
}

.plan-2-2 {
  grid-column: 1/4;
  grid-row: 8/10;
}
.plan-2-3 {
  grid-column: 4/7;
  grid-row: 9/11;
}

.plan-2-4 {
  grid-column: 8/11;
  grid-row: 9/11;
}

.plan-2-5 {
  grid-column: 11/14;
  grid-row: 8/10;
}

.plan-2-6 {
  grid-column: 2/5;
  grid-row: 4/6;
}
.plan-2-7 {
  grid-column: 6/9;
  grid-row: 5/7;
}
.plan-2-8 {
  grid-column: 10/13;
  grid-row: 4/6;
}

.plan-2-9 {
  grid-column: 2/5;
  grid-row: 1/3;
}
.plan-2-10 {
  grid-column: 6/9;
  grid-row: 2/4;
}
.plan-2-11 {
  grid-column: 10/13;
  grid-row: 1/3;
}
.formall {
  position: absolute;
  left: 70%;
  top: 5%;
}
.title {
  position: absolute;
  left: 17%;
  top: 3%;
}

.plan1 {
  grid-column: 6/9;
  grid-row: 10/14;
}

.plan2 {
  grid-column: 1/4;
  grid-row: 8/10;
}
.plan3 {
  grid-column: 4/7;
  grid-row: 9/11;
}

.plan4 {
  grid-column: 8/11;
  grid-row: 9/11;
}

.plan5 {
  grid-column: 11/14;
  grid-row: 8/10;
}

.plan9 {
  grid-column: 1/4;
  grid-row: 4/6;
}
.plan7 {
  grid-column: 4/7;
  grid-row: 5/7;
}
.plan8 {
  grid-column: 8/11;
  grid-row: 5/7;
}
.plan11 {
  grid-column: 11/14;
  grid-row: 4/6;
}

.plan6 {
  grid-column: 6/9;
  grid-row: 4/6;
}

.plan10 {
  grid-column: 6/9;
  grid-row: 1/3;
}

.formall {
  position: absolute;
  left: 70%;
  top: 5%;
}
.title {
  position: absolute;
  left: 17%;
  top: 3%;
}

.player2,
.player3,
.player4,
.player5,
.player6,
.player7,
.player8,
.player9,
.player10,
.player11 {
  background-image: url(../images/badge_gold.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotateX(-10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.player1 {
  background-image: url(../images/badge_gold.webp);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotateX(-10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.otton-display-formall {
  display: none;
}

@media (max-width: 1700px) {
  .stad {
    width: 100%;
  }
  .containerr {
    display: flex;
    flex-direction: column;
  }
  .formall {
    position: static;
    margin-bottom: 50px;
  }
  .title {
    left: 30%;
  }
}
